.navigation-container{
    background-color: blue;
    display:flex;
    flex-direction: row;
    width:100%;
    align-items: center;
}
.navigation-logo-container{
    width:15%;
}
.navigation-links-container{
    width:85%;
}
.links-container{
    display: flex;
    flex-direction:row;
    padding:20px;
    list-style:none;
}
.nav-links{
    color:white;
    padding:20px;
    text-decoration:none;
    
}
.nav-links:hover{
    color:blue;
    background-color:white;
    padding:20px;
}
